.btn{
    background-color:orange;
    color:black;
    font-size:1.25em;
    padding: 10px 25px;
    border: 1px solid orange;
    border-radius:10px;
    outline:none;
    transition:0.3s;
}
.btn:active{
   box-shadow:6px 6px 30px rgba(0,0,0,0.4)
}

.center-btn-wrappers{
    display:flex;
    justify-content:center;
    
}
