/*footer styles*/
.footer-column{
    background-color: #141820;
    color:gray;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height:400px;
    margin-top:-4px;
   }
   
   .footer-column > .footer-Logo img {
       width: 180px;
       height:100%;
       
       filter: brightness(90%);/*Brillo de imagen*/
   
   }
   
   .footer-column > .footer-wrapps{
       margin-left:10px;
       margin-right: 10px;
       font-size: 1em;
       letter-spacing: 2px;
   }
   
   .footer-column > .footer-wrapps > .num{
       font-size: 1em;
       color:orange;
   }
   
   .footer-column > .footer-wrapps > .date{
       font-size: 1em;
       color:orange;
       text-transform: uppercase;
   
   }
   
   .footer-column > .links-wrappers{
       margin-top:40px;
       margin-bottom:40px;
       width:400px;
   }
   
   .footer-column > .social-media-icons{
       margin-top: 40px;
       margin-bottom: 40px;
       width:300px;
       display:flex;
       justify-content:space-around;
   }
   
   .footer-column > .social-media-icons a{
       font-size:1.5em;
       color:white;
       transition:0.8s;
   }
   
   .footer-column > .social-media-icons a:hover{
       color: orange;
   
   }
   
   .footer-column > .copyright-wrappers {
       color: orange;
   
   }